<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../../style/styles.css">
    <link rel="stylesheet" href="../../style/header2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Header Component</title>

  </head>
  <body>
    <h1>HEADERS</h1>
    <div class="display__flex">
        <iframe src="https://css-components-lomesh.netlify.app/components/header/stdhedar.html" height="0" width="0" title="Iframe Example"></iframe>
        <iframe src="https://css-components-lomesh.netlify.app/components/header/fixedheader.html" height="0" width="0" title="Iframe Example"></iframe>
        <iframe src="https://css-components-lomesh.netlify.app/components/header/denseheader.html" height="300" width="600" title="Iframe Example"></iframe>
        <iframe src="https://css-components-lomesh.netlify.app/components/header/shortheader.html" height="300" width="600" title="Iframe Example"></iframe>
        <iframe src="https://css-components-lomesh.netlify.app/components/header/shortdheader.html" height="300" width="600" title="Iframe Example"></iframe>
    </div>

  </body>
</html>
