html{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.chips__outer{
    margin: 15%;
    border: 2px solid red;
}

.chips__store{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.chips__store > h1 {
    padding: 0.4rem 1rem;
    border-radius: 10px;
    background-color: #727a8b;
    color: white;
    margin: 0.5rem;
}

.chips__store h1 > i {
    padding-left: 5px;
    cursor: pointer;
    color: black;
}

.chips__input{
    width: 100%;
    padding: 0.8rem;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid gray;
    outline: none;
    color: white;
}
