<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/styles.css" />
    <link rel="stylesheet" href="../style/cards.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Card Component</title>
  </head>
  <body>

    <div class="card-components">


      <div class="card cardOne">
        <div class="hidden__heading">
          <h2 class="card__info card__heading--first">Our Changing Planet</h2>
          <p class="card__info card__heading--second">by Kurt Wagner</p>
        </div>
        <div class="section__one">
          <div class="img">
            <img class="card__img" src="../images/card-bg.jpg" alt="demo" />
          </div>
          <div class="heading">
            <h2 class="card__info card__heading--first">Our Changing Planet</h2>
            <p class="card__info card__heading--second">by Kurt Wagner</p>
          </div>
        </div>
        <div class="para">
          <p class="card__info card__desc">
            Visit ten places on our planet that are undergoing the biggest
            changes today.
          </p>
        </div>
        <div class="card__info card__footer">
          <div class="card__footer--first">
            <button class="card__button">READ</button>
            <button class="card__button">BOOKMARK</button>
          </div>
          <div class="card__info card__footer--second">
            <i class="far fa-heart"></i>
            <i class="fas fa-share-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
      </div>


      <div class="card cardTwo">
        <div class="hidden__heading">
          <h2 class="card__info card__heading--first">Our Changing Planet</h2>
          <p class="card__info card__heading--second">by Kurt Wagner</p>
        </div>
        <div class="section__one">
          <div class="img">
            <img class="card__img" src="../images/card-bg.jpg" alt="demo" />
          </div>
          <div class="heading">
            <h2 class="card__info card__heading--first">Our Changing Planet</h2>
            <p class="card__info card__heading--second">by Kurt Wagner</p>
          </div>
        </div>
        <div class="para">
          <p class="card__info card__desc">
            Visit ten places on our planet that are undergoing the biggest
            changes today.
          </p>
        </div>
        <div class="card__info card__footer">
          <div class="card__footer--first">
            <button class="card__button">READ</button>
            <button class="card__button">BOOKMARK</button>
          </div>
          <div class="card__info card__footer--second">
            <i class="far fa-heart"></i>
            <i class="fas fa-share-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
      </div>


      <div class="card cardThree">
        <div class="hidden__heading">
          <h2 class="card__info card__heading--first">Our Changing Planet</h2>
          <p class="card__info card__heading--second">by Kurt Wagner</p>
        </div>
        <div class="section__one">
          <div class="img">
            <img class="card__img" src="../images/card-bg.jpg" alt="demo" />
          </div>
          <div class="heading">
            <h2 class="card__info card__heading--first">Our Changing Planet</h2>
            <p class="card__info card__heading--second">by Kurt Wagner</p>
          </div>
        </div>
        <div class="para">
          <p class="card__info card__desc">
            Visit ten places on our planet that are undergoing the biggest
            changes today.
          </p>
        </div>
        <div class="card__info card__footer">
          <div class="card__footer--first">
            <button class="card__button">READ</button>
            <button class="card__button">BOOKMARK</button>
          </div>
          <div class="card__info card__footer--second">
            <i class="far fa-heart"></i>
            <i class="fas fa-share-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
      </div>


      <div class="card cardFour">
        <div class="hidden__heading">
          <h2 class="card__info card__heading--first">Our Changing Planet</h2>
          <p class="card__info card__heading--second">by Kurt Wagner</p>
        </div>
        <div class="section__one">
          <div class="img">
            <img class="card__img" src="../images/card-bg.jpg" alt="demo" />
          </div>
          <div class="heading">
            <h2 class="card__info card__heading--first">Our Changing Planet</h2>
            <p class="card__info card__heading--second">by Kurt Wagner</p>
          </div>
        </div>
        <div class="para">
          <p class="card__info card__desc">
            Visit ten places on our planet that are undergoing the biggest
            changes today.
          </p>
        </div>
        <div class="card__info card__footer">
          <div class="card__footer--first">
            <button class="card__button">READ</button>
            <button class="card__button">BOOKMARK</button>
          </div>
          <div class="card__info card__footer--second">
            <i class="far fa-heart"></i>
            <i class="fas fa-share-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
      </div>


      <div class="card cardFive">
        <div class="hidden__heading">
          <h2 class="card__info card__heading--first">Our Changing Planet</h2>
          <p class="card__info card__heading--second">by Kurt Wagner</p>
        </div>
        <div class="section__one">
          <div class="img">
            <img class="card__img" src="../images/card-bg.jpg" alt="demo" />
          </div>
          <div class="heading">
            <h2 class="card__info card__heading--first">Our Changing Planet</h2>
            <p class="card__info card__heading--second">by Kurt Wagner</p>
          </div>
        </div>
        <div class="para">
          <p class="card__info card__desc">
            Visit ten places on our planet that are undergoing the biggest
            changes today.
          </p>
        </div>
        <div class="card__info card__footer">
          <div class="card__footer--first">
            <button class="card__button">READ</button>
            <button class="card__button">BOOKMARK</button>
          </div>
          <div class="card__info card__footer--second">
            <i class="far fa-heart"></i>
            <i class="fas fa-share-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
      </div>
      

      <div class="card cardSix">
        <div class="hidden__heading">
          <h2 class="card__info card__heading--first">Our Changing Planet</h2>
          <p class="card__info card__heading--second">by Kurt Wagner</p>
        </div>
        <div class="section__one">
          <div class="img">
            <img class="card__img" src="../images/card-bg.jpg" alt="demo" />
          </div>
          <div class="heading">
            <h2 class="card__info card__heading--first">Our Changing Planet</h2>
            <p class="card__info card__heading--second">by Kurt Wagner</p>
          </div>
        </div>
        <div class="para">
          <p class="card__info card__desc">
            Visit ten places on our planet that are undergoing the biggest
            changes today.
          </p>
        </div>
        <div class="card__info card__footer">
          <div class="card__footer--first">
            <button class="card__button">READ</button>
            <button class="card__button">BOOKMARK</button>
          </div>
          <div class="card__info card__footer--second">
            <i class="far fa-heart"></i>
            <i class="fas fa-share-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
