<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/styles.css">
    <link rel="stylesheet" href="../style/cards.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Card Component</title>
</head>
<body>
    <div class="card-components">

        
<!-- Basic Card  -->
    <div class="card">
        <img class="card__img" src="../images/card-bg.jpg" alt="demo">
        <h2 class="card__info card__heading--first">Our Changing Planet</h2>
        <p class="card__info card__heading--second">by Kurt Wagner</p>
        <p class="card__info card__desc">
            Visit ten places on our planet that 
            are undergoing the biggest changes today.
        </p>
        <div class="card__info card__footer">
            <div class="card__footer--first">
                <button class="card__button">READ</button>
                <button class="card__button">BOOKMARK</button>
            </div>
            <div class="card__info card__footer--second">
                <i class="far fa-heart"></i>
                <i class="fas fa-share-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
    </div>

    <!-- Basic with Header  -->
    <div class="card">
        <h2 class="card__info card__heading--first">Our Changing Planet</h2>
        <p class="card__info card__heading--second">by Kurt Wagner</p>
        <img class="card__img" src="../images/card-bg.jpg" alt="demo">
        <p class="card__info card__desc">
            Visit ten places on our planet that 
            are undergoing the biggest changes today.
        </p>
        <div class="card__info card__footer">
            <div class="card__footer--first">
                <button class="card__button">READ</button>
                <button class="card_button">BOOKMARK</button>
            </div>
            <div class="card__info card__footer--second">
                <i class="far fa-heart"></i>
                <i class="fas fa-share-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
    </div>


    <!-- Basic with Only Buttons  -->
    <div class="card">
        <img class="card__img" src="../images/card-bg.jpg" alt="demo">
        <h2 class="card__info card__heading--first">Our Changing Planet</h2>
        <p class="card__info card__heading--second">by Kurt Wagner</p>
        <p class="card__info card__desc">
            Visit ten places on our planet that 
            are undergoing the biggest changes today.
        </p>
        <div class="card__info card__footer">
            <div class="card__footer--first">
                <button class="card__button">READ</button>
                <button class="card_button">BOOKMARK</button>
            </div>
        </div>
    </div>


    <!-- Basic with Only Icons  -->
    <div class="card">
        <img class="card__img" src="../images/card-bg.jpg" alt="demo">
        <h2 class="card__info card__heading--first">Our Changing Planet</h2>
        <p class="card__info card__heading--second">by Kurt Wagner</p>
        <p class="card__info card__desc">
            Visit ten places on our planet that 
            are undergoing the biggest changes today.
        </p>
        <div class="card__icon card__info card__footer">
            <div class="card__info card__footer--second">
                <i class="far fa-heart"></i>
                <i class="fas fa-share-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
    </div>


    <!-- Basic with Text over media  -->
    <div class="card card__media">
        <img class="card__img" src="../images/card-bg.jpg" alt="demo">
        <div class="card__textover">
            <h2 class="card__info card__heading--first">Our Changing Planet</h2>
            <p class="card__info card__heading--second">by Kurt Wagner</p>
        </div>
        <p class="card__info card__desc">
            Visit ten places on our planet that 
            are undergoing the biggest changes today.
        </p>
        <div class="card__info card__footer">
            <div class="card__footer--first">
                <button class="card__button">READ</button>
                <button class="card_button">BOOKMARK</button>
            </div>
            <div class="card__info card__footer--second">
                <i class="far fa-heart"></i>
                <i class="fas fa-share-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
    </div>

     <!-- Horizontal image and text  -->
     <div class="card">
        <div class="card__horizontal">
            <img class="card__img" src="../images/card-bg.jpg" alt="demo">
            <div class="card__text--horizontal">
                <h2 class="card__info card__heading--first">Our Changing Planet</h2>
                <p class="card__info card__heading--second">by Kurt Wagner</p>
            </div>
        </div>
        <div class="card__info card__footer">
            <div class="card__footer--first">
                <button class="card__button">READ</button>
                <button class="card_button">BOOKMARK</button>
            </div>
            <div class="card__info card__footer--second">
                <i class="far fa-heart"></i>
                <i class="fas fa-share-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
    </div>




</div>
</body>
</html>